{
	admin off
}

https://gradex.localhost:18443 {
	tls internal
	encode zstd gzip

	@api path /api/* /healthz /readyz
	handle @api {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy frontend:3000
	}
}

https://storage.gradex.localhost:18443 {
	tls internal
	reverse_proxy minio:9000
}
